.center {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: auto auto auto auto;
}

.left {
    display: inline-block;
    float: left;
    width: 25%;
    height: 50%;
    margin: auto auto auto auto;
}
.right {
    display: inline-block;
    float: right;
    width: 25%;
    height: 50%;
    margin: auto auto auto auto;
}

.column_1 {
    width: 98%;
    height: auto;
    display: block;
    margin: 4px 1.1% 4px 1.1%;
    border: 1px solid blue;
}

.column_2 {
    width: 45.5%;
    height: auto;
    display: inline-block;
    margin: 4px 1.1% 4px 1.1%;
    border: 1px solid blue;
}

.column_3 {
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 4px 1.1% 4px 1.1%;
    border: 1px solid blue;
}

.button {
    display: block;
    height: 10%;
    width: 80%;
    margin: 10% auto 10% auto;
}

.town_button {
    display: inline-block;
    height: 20%;
    width: 33%;
    margin: auto auto auto auto;
}
.combat_button {
    display: inline-block;
    height: 20%;
    width: 33%;
    margin: auto auto auto auto;
}

.click_counter {
    display: block;
    width: 25%;
    height: 5%;
    margin: 5% auto 15% auto;
    text-align: center;
}

.fighter {
    width: 10%;
    padding-top: 100%;
    margin: auto;
    background-color: blue;
}
.monster {
    width: 10%;
    padding-top: 100%;
    margin: auto;
    background-color: red;
}

.character_container{
    display: inline-block;
    width: 20%;

}

.health_bar {
    width: 100%;
    height: 50%;
    margin: auto auto 3px auto;
    background-color: red;
    border: 1px solid black;
}
.health {
    width: auto%;
    height: 100%;
    margin: 0;
    padding-top:5%;
    background-color: lime;
    margin-left: 0px;
}

.follower_row {
    width: 98%;
    height: 10%;
    margin: 4px 1.1% 4px 1.1%;
    border: 1px solid blue;
}

.completion_bar {
    float: right;
    display: inline-block;
    width: 40%;
    height: 60%;
    margin: auto;
    background-color: grey;
    border: 2px solid black;
}
.completion {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: aquamarine;
    margin-left: 0px;
}

.invasion_bar {
    width: 90%;
    height: 5%;
    margin: 20px auto 20px auto;
    background-color: grey;
    border: 2px solid black;
}
.invasion {
    float: right;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: purple;
    margin-left: 0px;
}

#towns {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 3px;
}
.safe_town{
    position: relative;
    display: inline-block;
    height:140%;
    top: -20%;
    background-color: white;
    border: 2px solid black;
}

.town_image{
    padding: 3px;
    height: 80px;
    width: 80px;
}

.destroyed_town{
    position: relative;
    display: inline-block;
    width: 1%;
    margin: auto;
}
#panel_track {
    overflow:hidden;
    position:absolute;
    width: 140%;
    height: auto%;
    left: 0;
}
