<html>
<head><title> Against The Swarm </title>
<link rel="stylesheet" type="text/css" href="gui.css">
<link rel="stylesheet" type="text/css" href="modal.css">
</head>

<script src="js/vue.js"></script>

<script src="js/monster.js"></script>
<script src="js/town.js"></script>
<script src="js/technology.js"></script>
<script src="js/player_inventory.js"></script>
<script src="js/gui.js"></script>
<script src="js/followers.js"></script>
<script src="js/party.js"></script>
<script src="js/fighter.js"></script>
<script src="js/game_logic.js"></script>
<script src="js/Tracker.js"></script>

</div>
<!-- <script src="js/modal.js"></script> -->
<script>
    //every variable or function that wants to be called from html has to have reference in //Vue function

    var game;
    game = new Game();
    var vm;
    var modal_open = false;
    window.onload = function(){
        
        vm = new Vue({
            el: "#vue-div",
            data: {
                width: window.innerWidth,
                game: game,

                stat_page: 1,
            },
            methods: {
                update: function(){
                    vm.i = game.invasion_rate;
                    vm.towns = game.towns;
                    vm.width = window.innerWidth;
                }
            }
        });

                // Get the modal
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal_open = true;
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal_open = false;
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal_open = false;
                modal.style.display = "none";
            }
        }
    };

    function click_fight_button(){     game.multi_fight();}
    function click_rest_button(){      game.rest();}
    function click_engage_button(){    game.engage()};
    function click_disengage_button(){ game.disengage()};
    function click_reclaim_button(){   game.reclaim()};
    function click_guard_button(){   game.guard()};


    var timer = setInterval(function(){
            update_ui(game.monster);
            console.log(game.tracker.tank_kills);

            //if user is not fighting in town, get more material and update swarm speed
            if (!game.under_siege && !game.reclaim_mode) {
                game.increment_follower_resource();
                game.followers.followers_act(game);
                game.change_invasion_rate();

    var party = new Party();

    var follower_resource = follower_resource;

    function click_fight_button(){  multi_fight(fighters, monsters);}
    function click_rest_button(){          rest(fighters, monsters);}
    function click_engage_button(){      engage(fighters, monsters)};
    function click_disengage_button(){disengage(fighters, monsters)};
    function click_guard_button(){guard(fighters, monsters)};
    function click_reclaim_button(){reclaim(fighters, monsters)};
    
    var timer = setInterval(function(){
        update_ui(monster);

        if (!under_siege && !reclaim_mode && !modal_open) {
            invasion_progress += invasion_rate;
            increment_follower_resource(current_town);
            followers.followers_act();
            change_invasion_rate(monsters);
            if (invasion_progress > towns[current_town].location){
            	under_siege = true;
            }
        
            }
            //code that spawns new enemy every interval
            if(!game.reclaim_mode){

                //variable that keeps track of how long until net spawn
                game.time_elapsed++;
                if(game.time_elapsed >= game.spawn_time && game.monsters.length < 18){
                    if (game.monsters.length < 18)
                    game.tracker.spawn(game);
                    game.time_elapsed = 0;
                }
            }
        }
    , 1000);

    var gui_update = setInterval(function(){
        update_ui( monsters[0]);
    }, 17);

    var knight_animation_update = setInterval(function(){
        update_knight_animation();
    }, 42);
    
    var fire_animation_update = setInterval(function(){
        update_fire_animation();
    }, 140);

</script>

<body>
<div id="vue-div">

<div class="column_1" id="track_container">
    <div class="invasion_bar">


        <span style = "position:fixed" v-for="t in game.towns.length">

            <div v-if="!game.towns[game.towns.length-t].destroyed" class="destroyed_town" 
                 v-bind:style="{left: ((100-game.towns[game.towns.length-t].location)/100)*width*.9 - width * .02 + 'px', top:-20+'px'}"> 
                <image class="town_image" src="assets/sprites/Town.png"/> 
            </div>

            <div v-else class="destroyed_town" 
                 v-bind:style="{left: ((100-game.towns[game.towns.length-t].location)/100)*width*.9 - width * .02 + 'px', top:-20+'px'}"> 
                <image class="town_image" src="assets/sprites/Destroyed_Town.png"/> 
            </div>
        </span>

        <span v-for="t in game.towns.length">
                <div v-if= "game.towns.length-t === game.current_town - 1">
                     <div class="fire_sprite"
                         v-bind:style="{left: ((100-game.towns[game.towns.length-t].location)/100)*width*.9 - width * .02 + 'px', top:-20+'px'}"> 
                    </div>  
                </div>
        </span>

        <div class="invasion" id="invasion" style="width:0px"></div>
        <div id="towns"> </div>
    </div>

            <div id="resource_display">
                    <div class="resource">
                    <image src="assets/icons/Follower_Icon.png">
                    <span id="follower_resource">{{game.followers.follower_resource}}</span></div>
                    <div class="resource">
                    <image src="assets/icons/Meat_Icon.png">
                    <span id="meat">{{game.player_inventory.meat}}</span></div>
                    <div class="resource">
                    <image src="assets/icons/Scale_Icon.png">
                    <span id="scales">{{game.player_inventory.scales}}</span></div>
                    <div class="resource">
                    <image src="assets/icons/Claw_Icon.png">
                    <span id="claws">{{game.player_inventory.claws}}</span></div>

                    <div class="resource">
                    <image src="assets/icons/Fiber_Icon.png">
                    <span id="fiber">{{game.player_inventory.fiber}}</span></div>
                    <div class="resource">
                    <image src="assets/icons/Metal_Icon.png">
                    <span id="metal">{{game.player_inventory.metal}}</span></div>
                    <div class="resource">
                    <image src="assets/icons/Gelatin_Icon.png">
                    <span id="gelatin">{{game.player_inventory.gelatin}}</span></div>

                    <div class="resource">
                    <image src="assets/icons/Aetherium_Icon.png">
                    <span id="ore">{{game.player_inventory.ore}}</span></div>
                    <div class="resource">
                    <image src="assets/icons/Telecrystal_Icon.png">
                    <span id="crystals">{{game.player_inventory.crystals}}</span></div>
            </div>

<div id="panel_track" class="column_1">
    <div class="left column_3" id="town_panel">
        <div class="panel_contents">
            <div id="resource_names">
                    <div class="resource">
                    <image src="assets/icons/Follower_Icon.png">
                    <span>Followers</span></div>
                    <div class="resource">
                    <image src="assets/icons/Follower_Icon.png">
                    <span>Meat</span></div>
                    <div class="resource">
                    <image src="assets/icons/Follower_Icon.png">
                    <span>Scales</span></div>
                    <div class="resource">
                    <image src="assets/icons/Follower_Icon.png">
                    <span>Claws</span></div>
                    <div class="resource">Followers</span></div>

                    <div class="resource">Fiber</div>
                    <div class="resource">Metal</div>
                    <div class="resource">Gelatin</div>

                    <div class="resource">Aetherium</div>
                    <div class="resource">Crystals</div>
            </div>

            <div id="followers_container" class="right" >
                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Meat_Pounder_Icon.png"> {{game.followers.meat_processors}}</span>
                        <span>Meat Cutter</span> 
                        <button
                        v-bind:disabled="!game.followers.can_hire_meat_processors"
                        onclick="game.followers.hire('meat_processors', 1)"> + </button>
                        </div>
                    
                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Scale_Forger_Icon.png">{{game.followers.scales_processors}}</span>
                        <span> Scale Forger</span>
                        <button
                        v-bind:disabled="!game.followers.can_hire_scales_processors"
                        onclick="game.followers.hire('scales_processors', 1)"> + </button>
                        </div>
                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Claw_Grinder_Icon.png">{{game.followers.claws_processors}}</span>
                        <span>Claw Grinder</span>
                        <button
                        v-bind:disabled="!game.followers.can_hire_claws_processors"
                        onclick="game.followers.hire('claws_processors', 1)"> + </button>
                        </div>
                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Aether_Miner_Icon.png">{{game.followers.miners}}</span>
                        <span>Aether Miner</span>
                        <button
                        v-bind:disabled="!game.followers.can_miners"
                        onclick="game.followers.hire('miners', 1)"> + </button> </div>
                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Enchanter_Icon.png"> {{game.followers.ore_processors}}</span>
                        <span>Enchanter</span>
                        <button
                        v-bind:disabled="!game.followers.can_hire_ore_processors"
                        onclick="game.followers.hire('ore_processors', 1)"> + </button></div>


                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Knight_Icon.png">{{game.followers.fighters}}</span>
                        <span>Fighter</span>
                        <button
                        v-bind:disabled="!game.followers.can_hire_fighters"
                        onclick="game.followers.hire_fighter(1, game)"> + </button> </div>
                    <div class="follower">
                        <span class="follower_count">
                        <image src="assets/icons/Wizard_Icon.png"> {{game.followers.magic_users}}</span>
                        <span>Magic User</span>
                        <button
                        v-bind:disabled="!game.followers.can_hire_magic_users"
                        onclick="game.followers.hire_magic_user(1, game)"> + </button></div>
            </div>
        </div>
    </div>
    </div>
    <div id="field_panel">
    <div class="panel_contents">
        <div class="column_2 center">
            <div v-for="f in game.fighters" class="character_container" >
                <div v-on:click="current_fighter = m">{{f.fighter_name}} hp: {{f.hp}}</div>
                <div class="health_bar">
                    <div class="health" v-bind:style="{width: f.hp_in_percent()}"></div>
                </div>
                <image src="assets/sprites/Knight.png"/>
            </div>
            </div>
        </div>



        <div class="column_2 right" id="monsters_column">
            <div v-for="m in game.monsters" class="character_container">
                <div v-on:click="current_monster = m">{{m.monster_name}} hp: {{m.hp}}</div>
                <div class="health_bar" id="monster_health_bar">
                    <div class="health" v-bind:style="{width: m.hp_in_percent()}"></div>
                </div>

                <!-- figures out which monster it is and what picture to display-->
                <div v-if="m.monster_name == 'tank'">
                    <image class="town_image" src="assets/sprites/Monster_Spider.png"/>
                </div>
                <div v-if="m.monster_name == 'drone'">
                    <image class="town_image" src="assets/sprites/Monster_Scalisk.png"/>
                </div>
                <div v-if="m.monster_name == 'warrior'">
                    <image class="town_image" src="assets/sprites/Monster_Crab.png"/>
                </div>
                <div v-if="m.monster_name == 'boss'">
                    <image class="town_image" src="assets/sprites/Boss_Monster.png" style="width:300px;height:300px;"/>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

        <div id="control_panel">
            <div class="column_2" id="action_buttons">
                <div class="column_3">
                    <div v-if="!game.under_siege && !game.engaged">
                        <img id = "button" src = "assets/buttons/Engage_Button.png" onclick = "click_engage_button()">
                    </div>
                    <div v-else>
                        <img id = "button" src = "assets/buttons/Engage_Button_Disabled.png">
                    </div>
                    <div v-if= "(!game.under_siege && game.engaged) || game.under_siege">
                        <img id = "button" src = "assets/buttons/Disengage_Button.png" onclick = "click_disengage_button()">
                    </div>
                    <div v-else>
                        <img id = "button" src = "assets/buttons/Disengage_Button_Disabled.png">
                    </div>
                </div>
                <div class="column_3">
                    <div v-if="!game.under_siege && !game.engaged">
                        <img id = "button" src = "assets/buttons/Rest_Button.png" onclick = "click_rest_button()">
                    </div>
                    <div v-else>
                        <img id = "button" src = "assets/buttons/Rest_Button_Disabled.png">
                    </div>
                    <div v-if= "(!game.under_siege && game.engaged) || game.under_siege">
                        <img id = "button" src ="assets/buttons/Fight_Button.png" onclick = "click_fight_button()">
                    </div>
                    <div v-else>
                        <img id = "button" src ="assets/buttons/Fight_Button_Disabled.png">
                    </div>
                </div>
                <div class="column_3">
                    <div v-if= "(!game.under_siege && game.engaged) || game.under_siege">
                        <img id = "button" src ="assets/buttons/Guard_Button.png" onclick = "click_guard_button()">
                    </div>
                    <div v-else>
                        <img id = "button" src ="assets/buttons/Guard_Button_Disabled.png">
                    </div>
                </div>
            </div>

            <div class="column_3">

              <div class="column_2 left" id="technology_menu">

                <div v-for="t in game.technology">
                  <div v-if="t.has_been_researched">
                     <div v-bind:style="{color: t.is_researched_color(), visibility: t.visible(game.technology)}">{{t.technology_name}}
                     </div>
                  </div>
                  <div v-else>
                    <div v-bind:style="{color: t.is_researched_color(), visibility: t.visible(game.technology)}" v-on:click="t.unlock_tech(game.technology, game.player_inventory)">
                      {{t.technology_name}}
                   </div>
                </div>
            </div>
        </div>
        <!-- shows user stats -->
        <div class="stat_page">
            <div class="indivdual_page left">
                You are on page {{stat_page}}<br>

                <!-- track monster death stats -->
                <div v-if="stat_page == 1">
                    Warriors killed: {{game.tracker.warrior_kills}}<br>
                    Drones killed: {{game.tracker.drone_kills}}<br>
                    Tanks Killed: {{game.tracker.tank_kills}}<br>
                </div>

                <!-- track fighters that have died -->
                <div v-if="stat_page == 2">
                    Fighter deaths: {{game.tracker.fighter_deaths}}<br>
                    Mage deaths: {{game.tracker.mage_deaths}}<br>
                </div>

                <!-- fill for 3rd tab -->
                <div v-if="stat_page == 3"> 
                    Fill 3
                </div>

                <!-- fill for 4th tab -->
                <div v-if="stat_page == 4">
                    Fill 4
                </div>
            </div>

            <!-- buttons that allow you to change to see other stats -->
            <div class="list_of_buttons right">

                <!-- button overlay that tells you which tab you are currently on -->
                <div class="stat_button_overlay" v-bind:style="{top: (stat_page*25-25) + '%'}"></div>

                <!-- buttons -->
                <div class="stat_button" style="top:0%"  v-on:click="stat_page = 1">  1</div>
                <div class="stat_button" style="top:25%" v-on:click="stat_page = 2">  2</div>
                <div class="stat_button" style="top:50%" v-on:click="stat_page = 3">  3</div>
                <div class="stat_button" style="top:75%" v-on:click="stat_page = 4">  4</div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
                <span class="close">&times;</span>
                <p>Crystals: {{player_inventory.crystals}}</p>
                <p>Party: </p>
                <p>Followers: {{follower_resource}}
                    <button id = "sub_follower">-
                    </button>
                    <button id = "add_follower">+
                    </button>
                </p>
                <p>Meat Processors: {{followers.meat_processors}}
                    <button id = "sub_meat_processors" onclick = "party.sub_meat_processors(followers)">--
                    </button>
                    <button id = "sub_claws_processor" onclick = "party.sub_meat_processor(followers)">-
                    </button>
                    {{party.meat_processor_count}}
                    <button id = "add_claws_processor" onclick = "party.add_meat_processor(followers)">+
                    </button>
                    <button id = "add_claws_processors" onclick = "party.add_meat_processors(followers)">++
                    </button>
                </p>
                <p>Claw Processors: {{followers.claws_processors}}
                    <button id = "sub_claws_processors" onclick = "party.sub_claws_processors(followers)">--
                    </button>
                    <button id = "sub_claws_processor" onclick = "party.sub_claws_processor(followers)">-
                    </button>
                    {{party.claws_processor_count}}
                    <button id = "add_claws_processor" onclick = "party.add_claws_processor(followers)">+
                    </button>
                    <button id = "add_claws_processors" onclick = "party.add_claws_processors(followers)">++
                    </button>
                </p>
                <p>Scale Processors: {{followers.scales_processors}}
                    <button id = "sub_scales_processors" onclick = "party.sub_scales_processors(followers)">--
                    </button>
                    <button id = "sub_scales_processor" onclick = "party.sub_scales_processor(followers)">-
                    </button>
                    {{party.scales_processor_count}}
                    <button id = "add_scales_processor" onclick = "party.add_scales_processor(followers)">+
                    </button>
                    <button id = "add_scales_processors" onclick = "party.add_scales_processors(followers)">++
                    </button>
                </p>
                <p>Ore Processors: {{followers.ore_processors}}
                    <button id = "sub_ore_processors" onclick = "party.sub_ore_processors(followers)">--
                    </button>
                    <button id = "sub_ore_processor" onclick = "party.sub_ore_processor(followers)">-
                    </button>
                    {{party.ore_processor_count}}
                    <button id = "add_ore_processor" onclick = "party.add_ore_processor(followers)">+
                    </button>
                    <button id = "add_ore_processors" onclick = "party.add_ore_processors(followers)">++
                    </button>
                </p>
                <p>Miners: {{followers.miners}}
                    <button id = "sub_miners" onclick = "party.sub_miners(followers)">--
                    </button>
                    <button id = "sub_miner" onclick = "party.sub_miner(followers)">-
                    </button>
                    {{party.miner_count}}
                    <button id = "add_miner" onclick = "party.add_miner(followers)">+
                    </button>
                    <button id = "add_miners" onclick = "party.add_miners(followers)">++
                    </button>
                </p>
                <p>Fighters:  {{fighters.length}}
                </p>
                <p><button id = "Teleporter">Teleport
                    </button>
                </p>

        </div>

    </div>

</body>
</html>
